.AnswerItem {
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 5px;
  cursor: pointer;
}

.AnswerItem:hover {
  background: rgba(255,255,255,.2);
  transition: all .3s;
}

.AnswerItem.success {
  background: green;
}

.AnswerItem.error {
  background: red;
}
